<div class="box1 box">
  <h2 class="title">This Week's Lectures:</h2>
  <div class="lecture pointer" *ngFor="let lecture of getLecturesForWeek()" [class.watched]="lecture.watched">
    <input type="checkbox" [checked]="lecture.watched" (click)="toggleLectureWatched(lecture.id)">
    <fa-icon [icon]="faVideo" class="fa-5x"></fa-icon>
    <div class="title">
      <span>{{ lecture.name }}</span>
    </div>
  </div>

  <div class="lecture pointer" [routerLink]="['lectures']">
    <fa-icon [icon]="faArrowRight" class="fa-5x"></fa-icon>
    <div class="title">
      <span>All Lectures</span>
    </div>
  </div>
</div>

<div class="box2 box upper-margin">
  <h2 class="title">Unit Overview:</h2>
  <p class="lorem">
    <b>Aims:</b>
    To introduce students to the techniques, tools and pitfalls of cryptography (including authentication etc.).
    <br><br>
    <b>Skills:</b>
    Application of Number (T/F, A), Problem Solving (T/F).
    <br><br>
    <b>Content:</b>
    Introduction to the problem: security, privacy, authentication, repudiation, revocation. The key distribution
    problem:
    public vs private keys. The mathematics of cryptography: Fermat-Euler Theorem, structure of finite fields and
    elliptic
    curves. Cryptographic algorithms: Diffie-Hellman, RSA, El-Gamal. Cryptanalysis: discrete logarithms, factoring. The
    Coppersmith attack. Elliptic Curve analogues. Private-key algorithms: DES, 3DES and AES. Common hashing algorithms:
    MD5,
    SHA-1. Characteristics of safe keys. Using cryptography: digital signatures: how to find the public key.Repudiation
    and
    revocation, examples in practice: PGP, digital certificates.
  </p>
</div>

<div class="box3 box upper-margin">
  <h2 class="title">Recommended Reading:</h2>
  <ul>
    <li *ngFor="let reading of module.reading" class="reading">
      {{ reading.name }}
      <span *ngIf="myStuff" class="pointer"
        (click)="checkReadingInMyStuff(reading) ? removeReadingFromMyStuff(reading) :addReadingToMyStuff(reading)">{{
        checkReadingInMyStuff(reading) ?
        'Remove from' : 'Add to' }} my reading</span>
    </li>
  </ul>
</div>

<div class="box4 box upper-margin">
  <h2 class="title">Assessments:</h2>
  <ul>
    <li *ngFor="let assignment of module.assignments" class="assignment">{{ assignment.name }}</li>
  </ul>
</div>

<div class="box5 box upper-margin">
  <h2 class="title">Resources:</h2>
  <div class="resources">
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Self Assessment Test</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Self Assessment Test Solutions</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Course Notes</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>problems1.pdf</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 1 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 2 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 3 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 4 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 5 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 6 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 7 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 8 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 9 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 10 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 11 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 12 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 13 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 14 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 15 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 16 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 17 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 18 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 19 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 20 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 21 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 22 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 23 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 24 Slides</span>
    </div>
    <div class="resource pointer">
      <fa-icon [icon]="faFilePdf" class="fa-2x"></fa-icon>
      <span>Lecture 25 Slides</span>
    </div>
  </div>
</div>
