.box {
  border: 3px solid #002b56;
  overflow-y: auto;

  .title {
    padding: 1rem 1rem 0.2rem 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;
  }
}

.box1 {
  width: 100%;
  height: 20rem;
  overflow-x: auto;
  white-space: nowrap;
}

.box2 {
  width: 32%;
  height: 35rem;
  float: left;
}

.box3 {
  width: 32%;
  height: 35rem;
  float: left;
  margin-left: 2%;
}

.box4 {
  width: 32%;
  height: 35rem;
  float: right;
}

.box5 {
  width: 100%;
  height: auto;
  display: inline-block;
}

.upper-margin {
  margin-top: 2rem;
}

.lecture {
  border: 1px solid black;
  position: relative;
  height: 70%;
  width: 200px;
  margin-left: 1rem;
  margin-top: 1rem;
  display: inline-block;
  min-height: 200px;
  max-height: 250px;

  &.watched {
    opacity: 0.4;
  }

  input {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: scale(1.5);
    z-index: 2;
  }

  fa-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    position: absolute;
  }

  &:first-of-type {
    margin-left: 1rem;
  }

  &:not(:first-of-type) {
    margin-left: 2.5rem;
  }

  &:last-of-type {
    margin-right: 1rem;
  }

  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 80%;
    border-top: 1px solid black;
    text-align: center;
    font-size: 1.1rem;
  }
}

.lorem {
  margin: 1rem;
}

.reading, .assignment {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 2rem;

  span {
    font-size: 0.8rem;
    text-decoration: underline;
    color: blue;
    float: right;
  }
}

.resources {
  padding: 1rem;

  .resource {
    &:not(:first-of-type) {
      margin-top: 1rem;
    }

    span {
      margin-left: 1rem;
    }
  }
}
