/* You can add global styles to this file, and also import other style files */

$header-height: 6rem;
$nav-height: 3rem;
$sidebar-height: calc(100% - 9rem);

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}
