/* You can add global styles to this file, and also import other style files */

$header-height: 6rem;
$nav-height: 3rem;
$sidebar-height: calc(100% - 9rem);
$sidebar-width: 180px;
$activites-width: 275px;

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

button {
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: #f2f2f2;
  }
}

.ml-1 {
  margin-left: 1rem;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.right {
  float: right;
}
