@import "../../../styles.scss";

.title {
  text-align: center;
}

.add-new-item-button {
  width: 9rem;
  height: 2rem;
  background-color: white;
  margin: auto;
  display: block;
}

.items {
  margin: 1rem;

  .item {
    padding-bottom: 1rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.complete {
  text-decoration: line-through;
}

.category {
  margin: 1rem;
}

.modal-button {
  height: 2rem;
  min-width: 6rem;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 0.5rem;

  &:first-of-type {
    margin-left: 1rem;
  }

  &:last-of-type {
    margin-right: 1rem;
  }

  &.right {
    float: right;
  }

  &.red {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: white;

    &:hover {
      background-color: #ac2925;
      border-color: #ac2925;
    }
  }
}
