<h2 class="title"><u>My TODO List:</u></h2>

<div class="categories">
  <div class="category" *ngFor="let category of getCategories(false)">
    <b>{{ category | titlecase }}</b>

    <div class="items">
      <div class="item" *ngFor="let item of getItemsByCategory(category)" [class.complete]="item.checked">
        <fa-icon class="delete-item-icon pointer" [icon]="faTimes" (click)="deleteTodoItem(item.id)"></fa-icon>
        <input type="checkbox" [checked]=item.checked (click)="onItemCheck(item)" class="pointer">
        <span class="pointer" (click)="onItemCheck(item)">{{ item.text }}</span>
      </div>
    </div>
  </div>
</div>

<button class="add-new-item-button" (click)="onAddTodoItemClick($event)">
  Add New Task
</button>

<app-modal *ngIf="showAddTodoItemModal" (clickOutside)="showAddTodoItemModal = false">
  <div title>Add New TODO List Item</div>
  <div content>
    <form [formGroup]="addItemForm">
      <!-- Category Select -->
      <label>Category:</label>
      <select formControlName="category" class="ml-1 w-40">
        <option value="-1" disabled>Please choose a category...</option>
        <option *ngFor="let category of getCategories(true)" [value]="category">{{ category | titlecase }}</option>
      </select>

      <!-- Add New Category -->
      <div class="right">
        <input type="text" formControlName="newCategory">
        <button (click)="addNewCategory()">Add New Category</button>
      </div>

      <br><br>

      <!-- Description of TODO Item -->
      <label>Description:</label>
      <input type="text" formControlName="text" class="ml-1 w-80">
    </form>
  </div>
  <div buttons>
    <button class="modal-button red" (click)="showAddTodoItemModal = false">Cancel</button>
    <button class="modal-button right" (click)="addTodoItem()">Add</button>
  </div>
</app-modal>
