<h2 class="title"><u>My TODO List:</u></h2>

<div class="categories">
  <div class="category" *ngFor="let category of getCategories()">
    <b>{{ category | titlecase }}</b>

    <div class="items">
      <div class="item" *ngFor="let item of getItemsByCategory(category)" (click)="onItemCheck(item)"
        [class.complete]="item.checked">
        <input type="checkbox" [checked]=item.checked>
        {{ item.text }}
      </div>
    </div>
  </div>
</div>

<button class="add-new-item-button" (click)="onAddTodoItemClick($event)">
  Add New Task
</button>

<app-modal *ngIf="showAddTodoItemModal" (clickOutside)="showAddTodoItemModal = false">
  <div title>Add New TODO List Item</div>
  <div content>Add New TODO List Item</div>
  <div buttons>
    <button class="modal-button red">Cancel</button>
    <button class="modal-button right">Add</button>
  </div>
</app-modal>
