@import "../../../styles.scss";

.title {
  text-align: center;
}

.add-new-item-button {
  width: 9rem;
  height: 2rem;
  background-color: #002b56;
  margin: auto;
  display: block;
  color: white;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #004489;
    transition: 0.3s;
  }
}

.items {
  margin: 1rem;

  .item {
    padding-bottom: 1rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.add-new-button {
  background-color: #002b56;
  color: white;
  border: none;
  height: 1.8rem;

  &:hover {
    background-color: #004489;
    transition: 0.3s;
  }
}

.complete {
  text-decoration: line-through;
}

.category {
  margin: 1rem;
}

.modal-button {
  height: 2rem;
  min-width: 6rem;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 0.5rem;
  border: none;
  background-color: #002b56;
  color: white;

  &:hover {
    background-color: #004489;
  }

  &:first-of-type {
    margin-left: 1rem;
  }

  &:last-of-type {
    margin-right: 1rem;
  }

  &.right {
    float: right;
  }

  &.red {
    background-color: #ac2925;
    color: white;

    &:hover {
      background-color: #d9534f;
    }
  }
}

.delete-item-icon {
  margin-left: -1rem;
  margin-right: 1rem;
  color: rgb(218, 0, 0);
}

app-modal {
  input, select {
    height: 1.8rem;

    &.description {
      height: 5rem;
      width: 87%;
    }

    &.add-new-category {
      width: 29.5%;
    }
  }

  label {
    width: 13%;
    display: inline-block;

    &.add-category-label {
      width: 20%;
      margin-left: 10%;
    }
  }
}
