.title {
  text-align: center;
}

.add-new-item-button {
  width: 9rem;
  height: 2rem;
  background-color: white;
  margin: auto;
  display: block;
}

.items {
  margin: 1rem;

  .item {
    padding-bottom: 1rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.complete {
  text-decoration: line-through;
}

.category {
  margin: 1rem;
}
