<div class="sidebar">
  <div class="sidebar-items">
    <div class="item pointer" *ngFor="let item of getSidebarItems()" [class.expanded]="item.subItems && item.expanded"
      [routerLink]="[item.link]" (click)="onItemClick(item)">
      <fa-icon [icon]="item.expanded ? faMinus : faPlus" *ngIf="item.subItems"></fa-icon>
      <span class="label">{{item.label }}</span>

      <div class="sub-items" *ngIf="item.subItems && item.expanded" (click)="$event.stopPropagation()">
        <div class="sub-item" *ngFor="let subItem of item.subItems" [routerLink]="[subItem.link ? subItem.link : null]">
          <span>{{ subItem.label }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
