@import "../../styles.scss";

.sidebar {
  height: $sidebar-height;
  width: $sidebar-width;
  border-right: 3px solid #002b56;
}

.sidebar-items {
  .item {
    min-height: 4rem;
    line-height: 1rem;
    width: 100%;
    padding: 1.5rem 0 1.5rem 0;
    text-align: center;
    position: relative;

    &.selected {
      color: #002b56;
      font-weight: bold;
    }

    &:hover {
      background-color: #002b56;
      transition: 0.3s;
      color: white;

      &.expanded {
        background-color: white;
        color: black;
      }

      .sub-items {
        background-color: white;
        color: black;
      }
    }
  }

  fa-icon {
    position: absolute;

    &.expand {
      left: 1rem;
    }

    &.current-page-icon {
      right: 1rem;
    }
  }

  .sub-items {
    margin-top: 1rem;
    margin-bottom: -1.5rem;

    .sub-item {
      width: 100%;
      padding: 1rem 2rem 1rem 0;
      text-align: right;

      &.selected {
        color: #002b56;
        font-weight: bold;
      }

      &:hover {
        background-color: #002b56;
        transition: 0.3s;
        color: white;
      }
    }
  }
}
