.header {
  display: flow-root;
  height: 2.5rem;
  background-color: white;
  position: sticky;
  top: -2rem;
  border-bottom: 1px solid black;
  z-index: 1;
  margin: -2rem -2rem 0 -2rem;
  padding: 1rem 2rem 3rem 2rem;
  line-height: 2.5rem;

  fa-icon {
    float: left;
  }

  h2 {
    margin: 0 0 0 3rem;
    float: left;
  }

  .filter {
    float: right;
  }
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.lectures {
  position: absolute;
}

.lecture {
  border: 1px solid black;
  position: relative;
  height: 250px;
  width: 200px;
  margin: 1rem;
  display: inline-block;

  fa-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    position: absolute;
  }

  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 80%;
    border-top: 1px solid black;
    text-align: center;
    font-size: 1.1rem;
  }
}
