.header {
  display: flow-root;
  height: 2.5rem;
  background-color: white;
  position: sticky;
  top: -2rem;
  border-bottom: 1px solid black;
  z-index: 3;
  margin: -2rem -2rem 0 -2rem;
  padding: 1rem 2rem 3rem 2rem;
  line-height: 2.5rem;

  fa-icon {
    float: left;
  }

  h2 {
    margin: 0 0 0 3rem;
    float: left;
  }

  .filter {
    float: right;
  }
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.lectures {
  position: absolute;
}

.lecture {
  border: 1px solid black;
  position: relative;
  height: 250px;
  width: 200px;
  margin: 1rem;
  display: inline-block;

  &.watched {
    opacity: 0.4;
  }

  input {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: scale(1.5);
    z-index: 2;
  }

  fa-icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    position: absolute;
  }

  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 80%;
    border-top: 1px solid black;
    text-align: center;
    font-size: 1.1rem;
  }
}

select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  min-width: 150px;
  margin-left: 0.5rem;

  &:focus {
    outline: none;
  }
}
