@import "../../styles.scss";

.sidebar {
  height: $sidebar-height;
  width: $activites-width;
  border-right: 3px solid #002b56;
  position: fixed;
  right: 0;
  top: 9rem;
  border-left: 3px solid #002b56;
}
