@import "../../../styles.scss";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  border: 1px solid black;
  z-index: 200;
  background-color: white;
}

.page-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background:rgba(0,0,0,0.5);
  z-index: 100;
}

.title {
  padding: 1rem 1rem 0 1rem;

  h1 {
    margin: 0;
  }
}

.exit-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.content {
  padding: 1rem;
}
