<div class="header">
  <div class="moodle">
    Moodle
  </div>

  <div class="personal">
    <div class="name">
      John Smith
      <fa-icon [icon]="faChevronDown"></fa-icon>
    </div>
    <div class="picture">
    </div>
  </div>
</div>

<div class="nav">
  <div class="left">
    <button class="pointer">Button</button>
    <button class="pointer">Button</button>
    <button class="pointer">Button</button>
    <button class="pointer">Button</button>
    <button class="pointer">Button</button>
  </div>

  <div class="right">
    <button class="pointer">Search</button>
  </div>
</div>
