@import "../../styles.scss";

.header {
  height: $header-height;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.moodle {
  float: left;
  font-size: 3.5rem;
  margin-left: 0.5rem;
  line-height: 4rem;
}

.personal {
  float: right;

  .name {
    float: left;
    font-size: 1.3rem;
    line-height: 4rem;
  }

  .picture {
    width: 4rem;
    height: 4rem;
    float: right;
    margin-left: 1rem;
    position: relative;
    border: 1px solid black;
    border-radius: 100%;
    background-color: lightgray;
  }
}

.nav {
  height: $nav-height;
  border-bottom: 1px solid black;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

}

button {
  width: 6rem;
  height: 3rem;
  background-color: white;
}
