.box {
  border: 3px solid #002b56;
  overflow-y: auto;

  .title {
    padding: 1rem 1rem 0.2rem 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;
  }
}

.box1 {
  width: 32%;
  height: 100%;
  float: left;
}

.box2 {
  width: 32%;
  height: 100%;
  float: left;
  margin-left: 2%;
}

.box3 {
  width: 32%;
  height: 100%;
  float: right;
}

.lorem {
  margin: 1rem;
}

.reading, .assignment {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 2rem;

  .add-to-my-stuff {
    font-size: 0.8rem;
    text-decoration: underline;
    color: blue;
    float: right;
  }

  .module-name {
    font-size: 0.7rem;
  }
}
