<div class="box1 box">
  <h2 class="title">My Assignments:</h2>
  <div class="lorem">
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(2) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(3) }}</p>
    <p>{{ lorem.generateSentences(2) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
  </div>
</div>

<div class="box2 box">
  <h2 class="title">My Grades:</h2>
  <div class="lorem">
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(2) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(3) }}</p>
    <p>{{ lorem.generateSentences(2) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(2) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
  </div>
</div>

<div class="box3 box">
  <h2 class="title">My Reading:</h2>
  <div class="lorem">
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(2) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(3) }}</p>
    <p>{{ lorem.generateSentences(2) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(2) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
    <p>{{ lorem.generateSentences(1) }}</p>
  </div>
</div>
