<div class="box1 box">
  <h2 class="title">My Assignments:</h2>

</div>

<div class="box2 box">
  <h2 class="title">My Grades:</h2>

</div>

<div class="box3 box">
  <h2 class="title">My Reading:</h2>
  <ul>
    <li *ngFor="let reading of myStuff.reading" class="reading">
      {{ reading.name }} <span class="module-name">({{ getModuleById(reading.moduleId).name }})</span>
      <span *ngIf="myStuff" class="pointer add-to-my-stuff"
        (click)="checkReadingInMyStuff(reading) ? removeReadingFromMyStuff(reading) :addReadingToMyStuff(reading)">{{
        checkReadingInMyStuff(reading) ?
        'Remove from' : 'Add to' }} my reading</span>
    </li>
  </ul>
</div>
