.box {
  border: 3px solid #002b56;
  overflow-y: auto;

  .title {
    padding: 1rem 1rem 0.2rem 1rem;
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;
  }
}

.box1 {
  width: 35%;
  height: 50%;
  float: left;
}

.box2 {
  width: 62%;
  height: 50%;
  float: right;
}

.box3 {
  width: 100%;
  height: 46%;
  float: right;
  margin-top: 2rem;
}

.lorem {
  margin: 1rem;
}
