.box {
  border: 1px solid black;

  .title {
    margin-left: 1rem;
    // font-weight: normal;
  }
}

.box1 {
  width: 35%;
  height: 50%;
  float: left;
}

.box2 {
  width: 62%;
  height: 50%;
  float: right;
}

.box3 {
  width: 100%;
  height: 46%;
  float: right;
  margin-top: 2rem;
}

.lorem {
  margin: 1rem;
}
